.button{
    width: 200px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
}
.button:hover{
    cursor: pointer;
}